# 💥 Primeros pasos con ``Python`` 💥

<a style="background-color: #ff4800; color: #000000; border: none; padding: 10px 15px; border-radius: 5px;">Clase 1</a> 
<a style="background-color: #ff4800; color: #000000; border: none; padding: 10px 15px; border-radius: 5px;">28 de Octubre del 2023</a>
<a style="background-color: #ff4800; color: #000000; border: none; padding: 10px 15px; border-radius: 5px;">Cursos PyM</a>
<a style="background-color: #ff4800; color: #000000; border: none; padding: 10px 15px; border-radius: 5px;">Luis Fernando Apáez Álvarez</a>
<a href="#📘-formulario-📘" style="background-color: #fefe04; color: #000000; border: none; padding: 10px 15px; border-radius: 5px;">Formulario</a>
        

---

## 📚 Contenido:

En esta clase aprenderemos a utilizar ``Python`` realizando cálculos sencillos, definiremos variables, aprenderemos a utilizar algunas de sus funciones integradas y a importar librerías, en particular importaremos la librería ``Pandas`` 🐼 para realizar la carga de una tabla (_dataframe_) y posteriormente realizar algunas manipulaciones básicas.

2

In [12]:
#import pandas as pd

#df = pd.read_csv(r'C:\Users\usuario\OneDrive\Documentos\Programación\Python\Py-Excel\Exceles\ConsolMensual\Consolidado.csv')
#df

## 📘 Formulario 📘

1.

In [13]:
# Imprimir resultados con la función print()
print("Hola Mundo")

# Diferentes tipos de datos
print("Número entero (int):", 30)
print("Número decimal o flotante (float):", 30.5)
print("Esto es una cadena de texto")

Hola Mundo
Número entero (int): 30
Número decimal o flotante (float): 30.5
Esto es una cadena de texto

In [26]:
# operadores aritméticos
print("Suma:", 10 + 20)
print("Resta:", 10 - 20)
print("Multiplicación:", 10 * 20)
print("División:", 10 / 20)
print("División entera:", 10 // 20)
print("Módulo o resto:", 10 % 20)
print("Potencia:", 10 ** 20)

Suma: 30
Resta: -10
Multiplicación: 200
División: 0.5
División entera: 0
Módulo o resto: 10
Potencia: 100000000000000000000

Ejemplo de lo que podemos llegar a hacer con Python:

In [18]:

###############################################################
###############################################################

# Realizaremos una salida como la anterior pero mas elegante,
# solo es una muestra de lo versatil que es Python.

###############################################################
###############################################################

# Realizamos la importacion necesaria
from IPython.display import Markdown

# definimos una funcion que ocupara la funcion recien importada
def printmd(string):
    """Funcion para imprimir texto en formato Markdown.
    Args:
        string (str): Texto a imprimir en formato Markdown o Latex.
    """
    display(Markdown(string))
    
printmd(r'$$10 + 20 =' + f'{10 + 20}$$')
printmd(r'$$10 - 20 =' + f'{10 - 20}$$')
printmd(r'$$10 \cdot 20 =' + f'{10 * 20}$$')
printmd(r'$$\frac{10}{20} =' + f'{10 / 20}$$')
printmd(r'$$10^{20} =' + f'{10 ** 20}$$')

$$10 + 20 =30$$

$$10 - 20 =-10$$

$$10 \cdot 20 =200$$

$$\frac{10}{20} =0.5$$

$$10^{20} =100000000000000000000$$

2.

In [16]:
# Definicion de variables, recuerda que las variables son contenedores de información
# y pueden cambiar su valor a lo largo de la ejecución del programa, ademas, recuerda
# que el nombre que le des a la variable debe ser descriptivo y no debe empezar con
# números ni caracteres especiales, tampoco debe ser una palabra reservada de Python

# Definición de variables
x = 30
print(x)

30

3.

In [17]:
# Funcion para ver el tipo de dato de una variable
type(x)

int

In [18]:
type(30.5)

float

In [19]:
type("Hola Mundo")

str

In [20]:
type(True)

bool

4.

In [22]:
# Operadores booleanos:
# Igualdad (==)
print(5 == 5)

# Diferencia (!=)
print(5 != 5)

# Mayor que (>)
print(5 > 5)

# Mayor o igual que (>=)
print(5 >= 5)

# Menor que (<)
print(5 < 5)

# Menor o igual que (<=)
print(5 <= 5)

True
False
False
True
False
True

In [23]:
# Operadores lógicos
# Tablas de verdad:
# AND: regresara verdadero si y solo si ambos valores son verdaderos
print(True and True)
print(True and False)
print(False and True)
print(False and False)

# Ejemplo
print(5 == 5 and 5 > 3)

True
False
False
False
True

In [24]:
# OR: regresara verdadero si alguno de los valores es verdadero
print(True or True)
print(True or False)
print(False or True)
print(False or False)

# Ejemplo
print(5 == 5 or 5 > 3)

True
True
True
False
True

In [25]:
# NOT: regresara el valor contrario
print(not True)
print(not False)

# Ejemplo
print(not (5 == 5))

False
True
False

Resumen de las tablas de verdad, es importante recordarlas 🎃🤞👀

**Tabla para el operador and:**

| A | B | A and B |
|---|---|---------|
| 0 | 0 |    0    |
| 0 | 1 |    0    |
| 1 | 0 |    0    |
| 1 | 1 |    1    |

**Tabla para el operador or:**

| A | B | A or B |
|---|---|--------|
| 0 | 0 |   0    |
| 0 | 1 |   1    |
| 1 | 0 |   1    |
| 1 | 1 |   1    |

**Tabla para el operador not:**

| A | not A |
|---|-------|
| 0 |   1   |
| 1 |   0   |


**Ejemplo práctico de cálculos del valor de verdad:**

In [19]:
# (True and not (False)) or (False) 
# (True and True) or (False)
# True or False
# True

# Comprobamos:
print( (True and not (False)) or (False) )

True

5.

In [20]:
# Cargamos un dataframe de ejemplo

# Importacion de la libreria a utilizar, recuerda que una libreria es un conjunto de funciones
# que nos ayudaran a realizar tareas especificas, en particular la libreria pandas nos ayudara
# a trabajar con dataframes, que son tablas de datos.
import pandas as pd

# CARGA DE DATOS
# La funcion para cargar un csv es read_csv(), dentro de la funcion debemos especificar la ruta
# como una cadena de texto
df = pd.read_csv(r'C:\Users\usuario\OneDrive\Documentos\Programación\Python\Py-Excel\Exceles\ConsolMensual\Consolidado.csv')

# ENCABEZADO
df.head()

     CLAVE        PRECIO  CANTIDAD      LINEA    ZONA         DIA
0   DJO759  30522.640813         4  Cuadernos  Centro  2023-04-01
1   DZA615   1835.883027        34     Cables  Centro  2023-04-01
2   EZX998  18224.354029        32      Mouse  Centro  2023-04-01
3  HDT3102   6222.040551        43     Cables  Centro  2023-04-01
4   XLF186  40254.957010        30    Tijeras  Centro  2023-04-01

In [21]:
# veamos los primero 10 registros
df.head(10)

     CLAVE        PRECIO  CANTIDAD       LINEA    ZONA         DIA
0   DJO759  30522.640813         4   Cuadernos  Centro  2023-04-01
1   DZA615   1835.883027        34      Cables  Centro  2023-04-01
2   EZX998  18224.354029        32       Mouse  Centro  2023-04-01
3  HDT3102   6222.040551        43      Cables  Centro  2023-04-01
4   XLF186  40254.957010        30     Tijeras  Centro  2023-04-01
5   OOA274  17270.726576        25    Baterías  Centro  2023-04-01
6   CSB028  10221.576160        38    Libretas  Centro  2023-04-01
7   RPU424  26724.895722        21  Sacapuntas  Centro  2023-04-01
8   RPU424  26724.895722        21  Sacapuntas  Centro  2023-04-01
9   FSF081   3686.461778         2  Cartulinas  Centro  2023-04-01

In [22]:
# veamos los ultimos 7 registros
df.tail(7)

           CLAVE        PRECIO  CANTIDAD       LINEA    ZONA         DIA
1126547   SOG284   9733.856245        12    Pinturas  Zócalo  2023-04-29
1126548   JVB868  12811.554664        44    Baterías  Zócalo  2023-04-29
1126549   EVW699  17452.655743        41      Bolsas  Zócalo  2023-04-29
1126550   FKI857   5439.904308        30          Pc  Zócalo  2023-04-29
1126551   CIH150   4326.963893        39  Cargadores  Zócalo  2023-04-29
1126552  PFA3110  32775.793090         9      Cables  Zócalo  2023-04-29
1126553   DGT469   8965.109739         9  Cargadores  Zócalo  2023-04-29

In [27]:
# ACCESO AL NOMBRE DE TODAS LAS COLUMNAS
df.columns

Index(['CLAVE', 'PRECIO', 'CANTIDAD', 'LINEA', 'ZONA', 'DIA'], dtype='object')

In [28]:
# ACCESO A INFORMACION GENERAL SOBRE EL DATAFRAME
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1126554 entries, 0 to 1126553
Data columns (total 6 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   CLAVE     1126554 non-null  object
 1   PRECIO    1126554 non-null  float64
 2   CANTIDAD  1126554 non-null  int64
 3   LINEA     1126554 non-null  object
 4   ZONA      1126554 non-null  object
 5   DIA       1126554 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 51.6+ MB

vemos el tipo de dato de cada columna, cuando valores no vacíos contienen (valores no nulos o _non-null_) y cuánto pesa el dataframe.

In [29]:
# ACCESO A ESTADISTICOS BASICOS DE COLUMNAS NUMERICAS (YA SEA INT64 O FLOAT64)
df.describe()

             PRECIO      CANTIDAD
count  1.126554e+06  1.126554e+06
mean   1.213506e+04  2.549073e+01
std    1.090513e+04  1.443051e+01
min    1.986720e-01  1.000000e+00
25%    3.063227e+03  1.300000e+01
50%    9.268553e+03  2.500000e+01
75%    1.844811e+04  3.800000e+01
max    4.761831e+04  5.000000e+01

In [24]:
# ACCESO A LA INFORMACION DE UNA SOLA COLUMNA
df['CLAVE']

0           DJO759
1           DZA615
2           EZX998
3          HDT3102
4           XLF186
            ...
1126549     EVW699
1126550     FKI857
1126551     CIH150
1126552    PFA3110
1126553     DGT469
Name: CLAVE, Length: 1126554, dtype: object

In [25]:
df['ZONA']

0          Centro
1          Centro
2          Centro
3          Centro
4          Centro
            ...
1126549    Zócalo
1126550    Zócalo
1126551    Zócalo
1126552    Zócalo
1126553    Zócalo
Name: ZONA, Length: 1126554, dtype: object

In [26]:
# ACCESO A LA INFORMACION DE VARIAS COLUMNAS
df[ ['CLAVE', 'ZONA'] ]

           CLAVE    ZONA
0         DJO759  Centro
1         DZA615  Centro
2         EZX998  Centro
3        HDT3102  Centro
4         XLF186  Centro
...          ...     ...
1126549   EVW699  Zócalo
1126550   FKI857  Zócalo
1126551   CIH150  Zócalo
1126552  PFA3110  Zócalo
1126553   DGT469  Zócalo

[1126554 rows x 2 columns]

En el caso anterior, cuando queremos acceder a la información de más de una columna, deberemos de colocar unos corchetes adicionales. 

En realidad, lo que hacemos al utilizar dichos corchetes es utilizar el concepto de **lista**, de modo que, para ver más de una columna en un dataframe, deberemos de pasar una lista con los nombres de las columnas de interes como cadenas de texto.

6.

In [30]:
# Definimos una lista ("coleccion de cosas") 
# Lista solo numerica
lista_ejemplo = [1, 2, 3, 4, 5, 6, 7, 8, 9]
lista_ejemplo

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
# Lista mixta
lista_ejemplo2 = [12, 42, 3.1416, 4, 5, 6, 7, 8, 9.5, "Hola", "Mundo", True, False]
lista_ejemplo2

[12, 42, 3.1416, 4, 5, 6, 7, 8, 9.5, 'Hola', 'Mundo', True, False]

la lista anterior tiene enteros, decimales, cadenas de texto y booleanos.

Dada una lista, podemos acceder individualmente a sus elementos:

In [35]:
# accedemos al primer elemento de la lista, en Python siempre se empieza a contar desde 0
lista_ejemplo2[0]

12

In [40]:
print("Segundo elemento de la lista:", lista_ejemplo2[1])
print("Tercer elemento de la lista:", lista_ejemplo2[2])
print("Cuarto elemento de la lista:", lista_ejemplo2[3])
print("Quinto elemento de la lista:", lista_ejemplo2[4])
print("Sexto elemento de la lista:", lista_ejemplo2[5])
print("Septimo elemento de la lista:", lista_ejemplo2[6])
print("Octavo elemento de la lista:", lista_ejemplo2[7])
print("Noveno elemento de la lista:", lista_ejemplo2[8])
print("Decimo elemento de la lista:", lista_ejemplo2[9])
print("Onceavo elemento de la lista:", lista_ejemplo2[10])
print("Doceavo elemento de la lista:", lista_ejemplo2[11])
print("Treceavo elemento de la lista:", lista_ejemplo2[12])

Segundo elemento de la lista: 42
Tercer elemento de la lista: 3.1416
Cuarto elemento de la lista: 4
Quinto elemento de la lista: 5
Sexto elemento de la lista: 6
Septimo elemento de la lista: 7
Octavo elemento de la lista: 8
Noveno elemento de la lista: 9.5
Decimo elemento de la lista: Hola
Onceavo elemento de la lista: Mundo
Doceavo elemento de la lista: True
Treceavo elemento de la lista: False

In [41]:
# La lista anterior solo tiene 13 elementos, es decir, la numeracion seria
# del 0 al 12. Si nos pasamos obtendremos un error
print(lista_ejemplo2[13])

IndexError: list index out of range

In [45]:
# Adelanto de la siguiente clase para enitar usar tantos prints.
# Como lo hicimos antes:

# print("Segundo elemento de la lista:", lista_ejemplo2[1])
# print("Tercer elemento de la lista:", lista_ejemplo2[2])
# print("Cuarto elemento de la lista:", lista_ejemplo2[3])
# print("Quinto elemento de la lista:", lista_ejemplo2[4])
# print("Sexto elemento de la lista:", lista_ejemplo2[5])
# print("Septimo elemento de la lista:", lista_ejemplo2[6])
# print("Octavo elemento de la lista:", lista_ejemplo2[7])
# print("Noveno elemento de la lista:", lista_ejemplo2[8])
# print("Decimo elemento de la lista:", lista_ejemplo2[9])
# print("Onceavo elemento de la lista:", lista_ejemplo2[10])
# print("Doceavo elemento de la lista:", lista_ejemplo2[11])
# print("Treceavo elemento de la lista:", lista_ejemplo2[12])

# Como lo podemos hacer más eficiente
nombres = ['Primero', 'Segundo', 'Tercero', 'Cuarto', 'Quinto', 'Sexto', 'Septimo', 
           'Octavo', 'Noveno', 'Decimo', 'Onceavo', 'Doceavo', 'Treceavo']
for i in range(0, 13):
    print(f"{nombres[i]} elemento de la lista:", lista_ejemplo2[i])

Primero elemento de la lista: 12
Segundo elemento de la lista: 42
Tercero elemento de la lista: 3.1416
Cuarto elemento de la lista: 4
Quinto elemento de la lista: 5
Sexto elemento de la lista: 6
Septimo elemento de la lista: 7
Octavo elemento de la lista: 8
Noveno elemento de la lista: 9.5
Decimo elemento de la lista: Hola
Onceavo elemento de la lista: Mundo
Doceavo elemento de la lista: True
Treceavo elemento de la lista: False